.book-card-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 10px;
}

.small-thumbnail {
  width: auto;
  height: 100px;
  margin-right: 10px;
}

.BookTitle {
  font-size: 20px;
  font-weight: bold;
}

.BookAuthor {
  font-size: 16px;
}
