.selected-book-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 20px;
  overflow-y: auto;
}

.book-img {
  width: 200px;
  height: 200px;
  object-fit: contain;
}

.information-wrapper {
  text-align: center;
  margin-top: 5px;
}

.information-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.information-author {
  font-size: 1.2rem;
}

.information-publisher {
  font-size: 1.2rem;
}

.information-category {
  font-size: 1.2rem;
  margin-left: 10px;
}

.description-text {
  text-align: center;
  font-size: 1.15rem;
  margin: 20px 14px 10px;
}

span {
  font-weight: bold;
}